<div>
  <h2 id="page-heading" data-cy="TalabaHeading">
    <span jhiTranslate="talabaApp.talaba.home.title">Talabas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="talabaApp.talaba.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-talaba"
        [routerLink]="['/talaba/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="talabaApp.talaba.home.createLabel"> Create a new Talaba </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="talabas?.length === 0">
    <span jhiTranslate="talabaApp.talaba.home.notFound">No talabas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="talabas && talabas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="talabaApp.talaba.ism">Ism</span></th>
          <th scope="col"><span jhiTranslate="talabaApp.talaba.familiya">Familiya</span></th>
          <th scope="col"><span jhiTranslate="talabaApp.talaba.sharif">Sharif</span></th>
          <th scope="col"><span jhiTranslate="talabaApp.talaba.tugilganKun">Tugilgan Kun</span></th>
          <th scope="col"><span jhiTranslate="talabaApp.talaba.guruh">Guruh</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let talaba of talabas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/talaba', talaba.id, 'view']">{{ talaba.id }}</a>
          </td>
          <td>{{ talaba.ism }}</td>
          <td>{{ talaba.familiya }}</td>
          <td>{{ talaba.sharif }}</td>
          <td>{{ talaba.tugilganKun | formatMediumDate }}</td>
          <td>
            <div *ngIf="talaba.guruh">
              <a [routerLink]="['/guruh', talaba.guruh?.id, 'view']">{{ talaba.guruh?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/talaba', talaba.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/talaba', talaba.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(talaba)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
